
Lab1/.DS_Store
*.xcuserstate
Lab1/Lab1(Task 2)/Lab1_Test
*.xcuserstate
Lab1/Lab1(Task 1.2)/Lab1_Test
*.plist
*.plist
Lab1/Lab1(Task 1.2)/Lab1(Task 1.2).xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Lab1/Lab1(Task 1.2)/Lab1(Task 1.2).xcodeproj/project.pbxproj
Lab1/Lab1(Task 1.2)/.DS_Store
Lab1/Lab1(Task 2)/Lab1(Task 2).xcodeproj/project.xcworkspace/contents.xcworkspacedata
Lab1/Lab1(Task 1.2)/Lab1(Task 1.2).xcodeproj/project.xcworkspace/contents.xcworkspacedata
Lab1/Lab1(Task 1.2)/Lab1
Lab2/.DS_Store
Lab2/Lab2(Task 2.1)/.DS_Store
Lab2/Lab2(Task 2.1)/Lab2(Task 2.1).xcodeproj/project.pbxproj
*.pbxproj
Lab2/Lab2(Task 2.1)/Lab2(Task 2.1).xcodeproj/project.xcworkspace/contents.xcworkspacedata
Lab2/Lab2(Task 2.1)/Lab2(Task 2.1).xcodeproj/xcuserdata/exonymus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Lab2/Lab2(Task 2.1)/Lab2_Test
Lab2/Lab2(Task 2.1)/Lab2
Lab2/Lab2(Task 2.1)/Lab2(Task 2.1).xcodeproj/project.pbxproj
Lab2/Lab2(Task 2.1)/Lab2(Task 2.1).xcodeproj/project.xcworkspace/contents.xcworkspacedata
.DS_Store
Lab1/Lab1_Task_1.2/Lab1_Task_1.2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Lab1/Lab1_Task_1.2/Lab1_Test
*.xcworkspacedata
*.xcbkptlist
Lab2/Lab2_Task_2.1/Lab2_Test
Lab2/Lab2_Task_2.1/Lab2
