
Lab1/.DS_Store
*.xcuserstate
Lab1/Lab1(Task 2)/Lab1_Test
*.xcuserstate
Lab1/Lab1(Task 1.2)/Lab1_Test
*.plist
*.plist
Lab1/Lab1(Task 1.2)/Lab1(Task 1.2).xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Lab1/Lab1(Task 1.2)/Lab1(Task 1.2).xcodeproj/project.pbxproj
Lab1/Lab1(Task 1.2)/.DS_Store
Lab1/Lab1(Task 2)/Lab1(Task 2).xcodeproj/project.xcworkspace/contents.xcworkspacedata
Lab1/Lab1(Task 1.2)/Lab1(Task 1.2).xcodeproj/project.xcworkspace/contents.xcworkspacedata
Lab1/Lab1(Task 1.2)/Lab1
