
Lab1/.DS_Store
*.xcuserstate
Lab1/Lab1(Task 2)/Lab1_Test
*.xcuserstate
Lab1/Lab1(Task 1.2)/Lab1_Test
*.plist
*.plist
Lab1/Lab1(Task 1.2)/Lab1(Task 1.2).xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Lab1/Lab1(Task 1.2)/Lab1(Task 1.2).xcodeproj/project.pbxproj
Lab1/Lab1(Task 1.2)/.DS_Store
Lab1/Lab1(Task 2)/Lab1(Task 2).xcodeproj/project.xcworkspace/contents.xcworkspacedata
Lab1/Lab1(Task 1.2)/Lab1(Task 1.2).xcodeproj/project.xcworkspace/contents.xcworkspacedata
Lab1/Lab1(Task 1.2)/Lab1
Lab2/.DS_Store
Lab2/Lab2(Task 2.1)/.DS_Store
Lab2/Lab2(Task 2.1)/Lab2(Task 2.1).xcodeproj/project.pbxproj
*.pbxproj
Lab2/Lab2(Task 2.1)/Lab2(Task 2.1).xcodeproj/project.xcworkspace/contents.xcworkspacedata
Lab2/Lab2(Task 2.1)/Lab2(Task 2.1).xcodeproj/xcuserdata/exonymus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Lab2/Lab2(Task 2.1)/Lab2_Test
Lab2/Lab2(Task 2.1)/Lab2
Lab2/Lab2(Task 2.1)/Lab2(Task 2.1).xcodeproj/project.pbxproj
Lab2/Lab2(Task 2.1)/Lab2(Task 2.1).xcodeproj/project.xcworkspace/contents.xcworkspacedata
.DS_Store
Lab1/Lab1_Task_1.2/Lab1_Task_1.2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Lab1/Lab1_Task_1.2/Lab1_Test
*.xcworkspacedata
*.xcbkptlist
Lab2/Lab2_Task_2.1/Lab2_Test
Lab2/Lab2_Task_2.1/Lab2
Lab2/Lab2_Task_2.2/Lab2_Test
Lab2/Lab2_Task_2.2/Lab2
Lab1/Lab1_Task_1.2/Lab1
Lab4/Lab4_Task_4.1/Lab4
Lab4/Lab4_Task_4.1/Lab4_Test
Lab4/Lab4_Task_4.2/Lab4
Lab4/Lab4_Task_4.2/Lab4_Test
Lab5/Lab5_Task_5.1/Lab5
Lab4/Lab4_Task_4.2/Lab4_Task_4.2.xcodeproj/xcshareddata/xcschemes/Lab4_Task_4.2.xcscheme
Lab5/Lab5_Task_5.1/Lab5_Test
Lab4/Lab4_Task_4.2/Lab4_Task_4.2.xcodeproj/xcshareddata/xcschemes/Lab4_Task_4.2.xcscheme
Lab6/Lab6_Task_5.2/Lab6
Lab7/Lab7_Task_6.2/Lab7
